html{
    scroll-behavior:smooth;
}
section{
    padding:80px 10%;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background:#000000;
    color:#ece5e5cf;
    line-height:1.6;
}
header{
    background:#2b1328;
    padding:10px;
    position: sticky;
    top: 0;
     z-index: 100;
}

nav{
    display:flex;
    justify-content:center;
    gap:30px;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
    transition:.3s ease-in-out;
}

nav a:hover{
    color:#5c2f77;
    text-decoration:underline;

}
#home{
    text-align:center;
    padding:80px 20px;
    margin:30px auto;
    max-width:800px;
}

#home h1{
     font-family:sans-serif;
    font-size:48px;
    font-weight:700;
}

#home h2{
    color:#8167ce;
    margin:15px 0;
}

#home p{
    max-width:700px;
    margin:auto;
}
button{
    margin-top:25px;
    padding:12px 20px;
    background:#341056;
    color:rgb(200, 197, 197);
    border:none;
    border-radius:8px;
    cursor:pointer;
    transition:.3s ease;
}

button:hover{
    background:#390679;
    transform:scale(1.08);
}
#about{
    max-width:900px;
    margin:30px auto;
    padding:25px 20px;
    border-radius:15px;
    box-shadow:0 4px 12px rgba(0,0,0,0.4);
}
#about h2{
    text-align:left;
    font-style:italic;
    font-size:30px;
    color:#ffffff;
    text-shadow:
    0 0 5px purple,
    0 0 10px purple,
    0 0 20px purple,
    0 0 40px purple;
}
#about p{
    max-width:700px;
    margin: 30px auto;
    line-height:1.8;
    font-size:18px;
    color:white;

}
#contact{
    background:#141414;
    border-radius:15px;
    max-width:900px;
    padding:50px 10%;
    margin:30px auto;
    text-align:center;
    box-shadow:0 4px 12px rgba(0,0,0,0.4);
}
#contact h2{
    font-size:30px;
    color:white;
    text-shadow:
    0 0 5px coral,
    0 0 10px coral,
    0 0 20px coral,
    0 0 40px coral;
}
#contact p{
    margin:15px 0;
    font-size:17px;
}
#skills ul{
    list-style:none;
    display:flex;
    padding:0;
    flex-wrap:wrap;
    justify-content:center;
    gap:10px;
    margin:30px 0 0 0;
}
#skills li{
    background: linear-gradient(to top, #000000e2, #390f51);
    padding:15px 25px;
    text-align:center;
    border-radius:10px;
    transition:.3s ease-in-out;
    cursor:pointer;
    flex:1 1 150px;
}
#skills li:hover{
    background:linear-gradient(to top, #5b326ee2, #9457b7);
    transform:translateY(-5px);
}
#skills h2{
    text-align:center;
    margin-bottom:20px;
    text-shadow:
    0 0 5px purple,
    0 0 10px purple,
    0 0 20px purple,
    0 0 40px purple;
}
#projects{
    padding:15px 25px;
    justify-content:center;
    gap:10px;
    margin:30px 0 0 0;
    text-align:center;
}
#projects h2{
    font-size:x-large;
    margin-bottom:20px;
    color:white;
    text-align:center;
    text-shadow: 
    0 0 5px purple,
    0 0 10px purple,
    0 0 20px purple,
    0 0 40px purple;
}
#projects h3{
    font-size:large;
    color:white;
    text-align: left;
    text-shadow: 
    0 0 5px coral,
    0 0 10px coral,
    0 0  20px coral,
    0 0  40px coral;

}
#projects p{
    font-size:large;
    color:white;
    text-align:left;
    
}
.project-container{
    padding:25px 30px;
    text-align: center;
    border-radius:10px;
    transition: 0.5s ease-in-out;
    flex-wrap: wrap;
    display:flex;
    gap:15px;
}
.project-card{
    background:linear-gradient(to top,rgba(15, 6, 15, 0.966),#390f51);
    padding:25px 25px;
    border-radius: 10px;
    transition:0.5s ease-in-out;
    flex:1 1 150px;
}
.project-card:hover{
    background:linear-gradient(to top,#5b326ee2,#9457b7);
    transform:translateY(-5px);
}
#education {
    margin-inline-end: 20px;
    padding:10px;
}
#education h2{
    font-size: x-large;
    text-align: center;
    margin-bottom: 10px;
    color:white;
    text-shadow:
    0 0 5px purple,
    0 0 10px purple,
    0 0 20px purple,
    0 0 30px purple,
    0 0 40px purple;
    text-decoration:underline white 4px;
}
.education-container {
    padding:10px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    gap:30px;
    position:relative;
}
.education-item {
    position:relative;
    display:flex;
}
.education-content {
    margin-left:50px;
    flex:1;
    background:linear-gradient(to top,black,#390f51);
    padding:15px 20px;
    border-radius:8px;
    box-shadow:purple 0 2px 5px;
}
.education-content:hover {
    background:linear-gradient(to top,#5b326ee2,#9457b7);
}
.education-container::before {
    width: 1.7px;
    height: 15cm;
    background:linear-gradient(to top,#5b326ee2,#9457b7);
    content:"";
    position:absolute;
    top:10px;
    left:50px;
}
.education-item::before {
    content:"";
    width:12px;
    height:12px;
    border-radius:50%;
    background: linear-gradient(to top,#5b326ee2,#9457b7) ;
    position:absolute;
    top:25px;
    left:35px;
}
footer{
    text-align:center;
    padding:20px;
    font-size:medium;
    margin:30px;
    background:#390f51;
    color:#d0c5d5;

}
#menu-btn{
    display:none;
}
.light-mode {
    background: #ffffff;
    color: #222222;
}

.light-mode header {
    background: #eeeeee;
}

.light-mode nav a {
    color: #222222;
}
.hidden {
    opacity: 0;
    transform: translateY(30px);
    transition: 0.6s ease;
}

.show {
    opacity: 1;
    transform: translateY(0);
}
@media(max-width:768px){
    #menu-btn{
        display: block;
        margin: auto;
        background: none;
        font-size: 25px;
    }
    #nav-menu {
        display: none;
    }

    #nav-menu.active {
        display: flex;
    }
    
nav{
    flex-direction:column;
    align-items:center;
    gap:15px;
}

#home h1{
    font-size:32px;
}

#home h2{
    font-size:22px;
}

section{
    padding:50px 20px;
}
#contact{
    padding:40px 20px;
}
#contact p{
    font-size:16px;
    overflow-wrap:anywhere;
}

}
